@use '../../tools/responsive';

.about {

    &__inner {
        align-items: flex-start;
        gap: var(--section-inner-gap-xsmall);
    }

    &__img {
        width: 25vw; 
        height: auto;
        object-fit: contain;
        max-width: 39rem;
        min-width: 15rem;
        margin-bottom: var(--section-inner-gap-small);
    }

    &__copy {
        width: 40vw;
        max-width: 600px;
        padding-left: 4rem;
        position: relative;

        &__title {
            margin: 2rem 0;
        }

        &__text {
        }

        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background-color: var(--color-title);
        }
    }

    .language {

        &__title {
            margin-bottom: var(--section-inner-gap-xsmall);
        }

        &__sv, &__en {
            margin: 2rem 0;            
        }

        .sv, .en {
            font-size: var(--font-size-2);
        }
    }

    // 961px
    @include responsive.max(60em) {

        &__inner {
            flex-direction: column;
            align-items: flex-start;
        }

        &__copy {
            margin-bottom: var(--section-gap);
            max-width: 70vw;
        }

        &__img {
            padding-left: var(--section-inner-gap-xsmall);
        }
    }

    @include responsive.max(680px) {
        &__copy {
            max-width: 90%;
        }
    }
}