@use '../../tools/responsive';

.about {

    &__inner {
        align-items: flex-start;
        gap: var(--section-inner-gap-small);
        transition: 0.9s ease;
        flex-wrap: wrap;
        position: relative;
        padding-left: var(--section-inner-gap-xsmall);

            &::after {
                content: "";
                position: absolute;
                opacity: 1;
                width: 0.25rem;
                height: 100%;
                left: 0;
                top: 0px;
                background-color: var(--color-primary);
            }
        }

    &__img {
        width: 25vw; 
        height: auto;
        object-fit: contain;
        max-width: 30rem;
        min-width: 15rem;
    }

    &__copy {
        width: 40vw;
        max-width: 600px;

        &__title {
            margin: 2rem 0;
        }
    }

    &__right {
        display: flex;
        flex-direction: row;
        gap: 10rem;
        flex-wrap: wrap;
        align-items: center;
        align-items: flex-start;
        margin-bottom: var(--section-inner-gap-small);
    }

    .language {

        &__title {
            margin-bottom: var(--section-inner-gap-xsmall);
        }

        &__sv, &__en {
            margin: 2rem 0;            
        }

        .sv, .en {
            font-size: var(--font-size-1);
        }
    }

    // 961px
    @include responsive.max(60em) {

        &__right {
            gap: var(--section-inner-gap-small);
            align-items: center;
        }

        &__inner {
            flex-direction: column;
            gap: 0;
        }

        &__copy {
            margin-bottom: var(--section-inner-gap-small);
            width: 70vw;
        } 

        &__img {
            width: auto;
        }
    }

    @include responsive.max(45em) {
        &__copy {
            width: 100%;
        }

        &__img {
            max-width: 21rem;
        }    
    }
}

.anchor {
    display: block; 
    position: relative; 
    top: -18rem; 
    visibility: hidden;
}