@use '../../components/buttons'as button;
@use '../../components/links'as link;
@use '../../tools/responsive';


body {
    background-color: var(--color-bg);
}

.hero {
    min-height: 100vh;

    &__inner {
        align-items: center;
    }
    
    &__background {
        position: absolute;
        top: 3vh;
        z-index: -1;
    }
    
    &__copy {
        max-width: 75vw;
        position: relative;
    }

    &__icon-down {
        position: absolute;
        width: 4vw;
        bottom: 15px;
        right: 48%;
        padding: 1rem;
        border-radius: 20rem;
        border: 2px solid black;
    }

    &__title {
        text-transform: uppercase;
        margin: 0 0 2rem 0;
    }

    &__subtitle {
        margin: 0 0 3.5rem 0;
    }

    &__btn {
        @include button.standard;
    }

    @include responsive.max(976px) {

        &__inner {
            flex-wrap: wrap;
        }

        &__copy {
            padding: 29vh 0;
        }

            &__img {
                width: 30vw; 
                min-width: 25rem;
                // padding-bottom: var(--section-inner-gap-small);
            }
        }

    @include responsive.max(30em) {
            // &__title {
            //     font-size: var(--font-size-4);
            // }

            // &__subtitle {
            //     font-size: var(--font-size-3);
            // }
        }
    
}