@use '../../components/buttons'as button;
@use '../../components/links'as link;
@use '../../tools/responsive';


body {
    background-color: var(--color-bg);
}

.hero {
    height: 100vh;
    position: relative;

    &__inner {
        align-items: center;
    }
    
    &__copy {
        max-width: 75vw;
    }

    // transition: <property> || <duration> || <timing-function> || <delay> [, ...];

    &__icon-down {
        position: absolute;
        width: 45px;
        height: 45px;
        bottom: 2.5rem;
        right: 48%;
        // border-radius: 20rem;
        opacity: 0.2;
        padding: 0.4rem;
        border: 2.5px solid var(--color-primary);
        // transition: ;
        transition: all 3s ease .3;
        animation-delay: .5s;
    
        &:hover {
            opacity: 1;
            -moz-animation: bounce 2s infinite;
            -webkit-animation: bounce 2s infinite;
            animation: bounce 2s infinite;
            border-radius: 20rem;
        }
        
        }
    

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }

    &__title {
        text-transform: uppercase;

        &:last-of-type {
            margin: 0 0 2rem 0;
        }
    }

    &__subtitle {
        margin: 0 0 3.5rem 0;
    }

    &__btn {
        @include button.standard;
    }

    // @include responsive.max(976px) {

    //     &__inner {
    //         flex-wrap: wrap;
    //     }

    //     &__copy {
    //         padding: 29vh 0;
    //     }

    //     }
}
