@use '../../tools/responsive';
@use '../../tools/variables';

.programming {

    &__title {
        max-width: 44vw;

    }

    &__text {
        max-width: 44vw;
        margin-top: none;
    }

    &__inner {
        flex-direction: column;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--section-inner-gap-xsmall);
        padding: 1rem;
    }

    &__title {
        margin-bottom: var(--section-inner-gap-xsmall);
    }

    &__text {
        margin-bottom: var(--section-inner-gap-xsmall);
    }

    &__item {
        width: 7rem;
    }

    @include responsive.max(60em) {
        &__title {
            max-width: 70vw;
        }

        &__text {
            max-width: 70vw;
        }

        &__list {
            justify-content: center;
        }
    }
}

.darkmode-active .programming__list {
    background: #fff;
}