// Link style and hover effect

@mixin standard($background: var(--color-primary), $color: var(--color-primary)) {
    color: $color;
    text-decoration: none;
    font-size: var(--font-size-1);
    position: relative;
    transition: 0.5s ease;
    
    &:hover {
        content:'';
        position: relative;
        height: 2px;
        width: 100%;
        background-color: $background;
    }
}