@use '../tools/variables';


* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    transition: .4s ease;
}

img {
    max-width: 100%;
}

a, .btn {
    cursor: pointer;
}