@use '../tools/responsive';

.hero, .about {
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner {
        grid-column: inner;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @include responsive.max(30em) {
        grid-template-columns: var(--grid-container-small);
    }
}