@use '../tools/responsive';

.hero, .about, .contact, .programming {
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner {
        grid-column: inner;
        display: flex;
        justify-content: space-between;
    }

    // Changes left and right margins of the grid container on smaller screens
    @include responsive.max(40em) {
        grid-template-columns: var(--grid-container-small);
    }
}

// Changes left and right margins of content on smaller screens
@include responsive.max(40em) {
    #darkmode {
        padding-left: 30px;
    }

    .header .language-button {
        padding-right: 30px;
    }

    #projects {
        margin-left: 30px;
    }
}