@use '../components/links'as link;
@use '../tools/responsive';

.menu {
    transform: translateX(-150%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    
    &--open {
        background-color: var(--color-bg);
        top: 0;
        left: 0;
        transform: translateX(0);
        transition: transform .3s cubic-bezier(0, .52, 0, 1);
        z-index: 81;
    }
    
    &__list {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 5vh;
        transform: translateY(-100px);
        opacity: 0;
        transition: opacity 0.5s 0.3s, transform 0.3s 0.4s linear;
    }
    
    &--open .menu__list {
        opacity: 1;
        transform: translateY(0);
    }
    
    &--open .menu__link {
        opacity: 1;
        font-size: var(--font-size-5);

        @include responsive.max(45em) {
            font-size: var(--font-size-4);
        }

        @include responsive.max(30em) {
            font-size: var(--font-size-3);
        }
    }
    
    &__link {
        @include link.standard;
        opacity: 0;
        white-space: nowrap;
    }
    
    // transition: <property> || <duration> || <timing-function> || <delay> [, ...];
    &__btn {
        width: 2.2rem;
        height: 2.5rem;
        z-index: 100;
        display: flex;
        align-items: center;
        transition: 0.5s 0.5s ease;
    }

    &__burger {
        width: 2.2rem;
        height: 0.25rem;
        background-color: var(--color-primary);
        position: relative;
        top:0.2rem;
        transition: 0.2s ease;

        &::after, &::before {
            content: '';
            width: inherit;
            height: inherit;
            background-color: inherit;
            position: absolute;
            left: 0;
            top: 0.8rem;
        }

        &::after {
            top: -0.8rem;
        }

        &--open {

            rotate: 45deg;

            &::before, &::after {
                top: 0;
                rotate: 90deg;
            }
        }
    }
    
}
