@use '../components/links'as link;


.header {
    height: var(--header-height);


    .darkmode {
        height: 24px;
    }
}

.menu {

    display: flex;
    align-items: center;
    gap: 2rem;

    
    &__list {
        display: flex;
        gap: 2rem;
    }

    &__link {
        @include link.standard;
        white-space: nowrap;
    }

    .language-button {
        color: var(--color-title);
        font-size: var(--font-size-1);

        .sv-btn {
            position: relative;
            padding-right: 0.4rem;

            &::after {
                position: absolute;
                content: '/';
                padding-left: 0.2rem;
            }

            &--active {
                font-weight: 700;
            }
        }

        .en-btn {
            padding-left: 0.4rem;

            &--active {
                font-weight: 700;
            }
        }
    }

}