body.darkmode-active {
        // Colors
        --color-primary: rgb(26, 26, 26);
        --color-secondary: rgb(50, 50, 50);
        --color-complement: #888;
        --color-accent: #244c41;
        --color-bg: #282625;
        background-color: #282625;
}